*{
  align-items: center;
  background-color: black;
  height: 60px;
  width:60px;
  margin:0;

}

.center{
  margin-left: 500px;
  margin-right:500px;
  margin-top: 70px;
}

td{
  height: 60px;
  width:60px;
  margin:0;
  text-align: center;

}

tr{
  height: 60px;
  width:60px;
  margin:0;
  text-align: center;
}
.btn{
  color: white;
  height: 60px;
  width: 60px;
  background-color: gray;
  font:30px bold;
  border-radius: 25px;
}

.btn:hover {background-color: #aaaaaa}

.btn:active {
  background-color: ##808080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.op{
  color: white;
  height: 60px;
  width: 60px;
  background-color: orange;
  font:30px bold;
  border-radius: 25px;
}
.op:hover {background-color: #dea000}

.op:active {
  background-color: #FFA500;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.txt{
  color: white;
  text-align: right;
  border: none;
  font:65px bold;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 60px;
  height: 70px;
  width: 250px;
  background-color: black;
}
.btn1{
  color: white;
  height: 60px;
  width: 130px;
  background-color: #696969;
  font:30px bold;
  border-radius: 25px;
}
.btn1:hover {background-color: #aaaaaa}

.btn1:active {
  background-color: ##808080;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
